<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domain</key>
	<string>https://login.microsoftonline.com</string>
	<key>tenant</key>
	<string>/tyrtsi.onmicrosoft.com</string>
	<key>oauth</key>
	<string>/oauth2/v2.0</string>
	<key>authorize</key>
	<string>/authorize</string>
	<key>token</key>
	<string>/token</string>
	<key>policyLogin</key>
	<string>B2C_1_SignupAndSignin</string>
	<key>policyReset</key>
	<string>B2C_1_PasswordReset</string>
	<key>clientId</key>
	<string>ce25c98b-f01d-46ad-936a-62ac28c939e5</string>
	<key>redirectURI</key>
	<string>urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob</string>
	<key>redirectURINonEncoded</key>
	<string>urn:ietf:wg:oauth:2.0:oob</string>
	<key>scope</key>
	<string>openid%20offline_access</string>
	<key>scopeNonEncoded</key>
	<string>openid offline_access</string>
	<key>responseType</key>
	<string>code</string>
	<key>responseMode</key>
	<string>query</string>
	<key>prompt</key>
	<string>login</string>
	<key>grantType</key>
	<string>authorization_code</string>
</dict>
</plist>
