<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tenant</key>
	<string>/870e3f56-fed4-45ba-baed-0be83baa41a9</string>
	<key>scopeAccess</key>
	<string>https://rtb2cqa.onmicrosoft.com/</string>
</dict>
</plist>
